@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&family=Satisfy&display=swap');

* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 0;
  min-height: 100vh;
  padding: 20px;
  font-family:Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  /* max-width: ; */
  margin: 0 auto;
}

button {
  cursor: pointer;
  background-color: rgb(175, 215, 238);
  border-color:rgb(146, 203, 236);
  border-radius: 4px;
}

input {
  display: block;
  margin-bottom: 1em;
  justify-items: space-around;
  background-color: rgb(241, 237, 237);
  border-color:rgb(216, 216, 216);
  border-radius: 4px;
  height: 40px;
  width: 300px;
}

button:hover {
  background-color: rgb(68, 161, 204);
  color: white;
}

p {
  color: lightgray;
}

h5, h6 {
  color: rgb(54, 54, 114);
}

h4 {
  display:flex;
  justify-content: center;
  font-weight: 100;
}

/* @media (min-width: 768px) {
  
} */